/* This is the start of icon section  */
.row{
    margin: 20px 20px;
}
.column{
    width: 33.33%;
    height: 300px;
    float: left;
    text-align: center;
    padding:35px 10px;
    /* border:1px solid #000 ; */

}
.row:after{
    content: "";
    display: table;
    clear: both;
}
/* This is the end of icon section  */